p {
  color: darkturquoise;
  front-size: 20px;
}

h1 {
    background-color: rgb(0%,0%,50%);
}
a {
  color: darkviolet;
}


/* vermelho máximo: 255, 0 , 0
verde máximo: 0, 255, 0
azul máximo: 0, 0, 255

vermelho médio: 128, 0, 0
cinza médio: 128, 128, 128

preto: 0, 0, 0
branco: 255, 255, 255

amarelo: 255, 255, 0
magenta: 255, 0, 255
ciano: 0, 255, 255 */
